# Database Configuration
POSTGRES_PASSWORD=1q2w3e
POSTGRES_DB=orscheduler
POSTGRES_USER=postgres

# Backend Configuration
DB_URL=jdbc:postgresql://database:5432/orscheduler
DB_USER=postgres
DB_PASS=1q2w3e
